*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.old
*.toc
*.swp
*.bk
.Xauthority
.bash_history
.dbus/
.gconf/
.lesshst
.slocdata/
.texmf-var/
.viminfo
.cache
.~lock*
dataset/*softwares/*/*/
dataset/*softwares/*/*.gz
dataset/*softwares/*/*.xz
dataset/*softwares/*/*.bz2
dataset/*softwares/*/*.zip
dataset/*softwares/*/*.jar
dataset/*softwares/*/*.tgz
dataset/papers/*Papers/
dissertacao.pdf
dataset/Understand-4.0.853-Linux-64bit.tgz
