*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.old
*.toc
*.swp
*.bk
.Xauthority
.bash_history
.dbus/
.gconf/
.lesshst
.slocdata/
.texmf-var/
.viminfo
.cache
.~lock*
dataset/*softwares/*/source-code/*/
dataset/*softwares/*/source-code/*.gz
dataset/*softwares/*/source-code/*.xz
dataset/*softwares/*/source-code/*.bz2
dataset/*softwares/*/source-code/*.zip
dataset/*softwares/*/source-code/*.jar
dataset/*softwares/*/source-code/*.tgz
dataset/papers/*Papers/
dissertacao.pdf
dataset/Understand-4.0.853-Linux-64bit.tgz
