*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.old
*.toc
*.swp
*.bk
.Xauthority
.bash_history
.dbus/
.gconf/
.lesshst
.slocdata/
.texmf-var/
.viminfo
.cache
.~lock*
dataset/software/*/releases/source/*gz
dataset/software/*/releases/source/*bz2
dataset/software/*/releases/source/*zip
dataset/software/*/releases/source/*/
dataset/papers/references/
dataset/papers/*Papers/*/*
dissertacao.pdf
apendices.pdf
dissertacao.bcf
dissertacao.run.xml
cache/
ufba-eps-converted-to.pdf
